:root {
    --background-color: #f3f8fb;
    --shade-color: #748e97;
    --lines-color: #244457;
    --circle-color: #5cb1a3;
    --circles-body: #f5bd3e;
    --low-head: #a7d0e0;
    --lens-odd: #295a6d;
    --lens-even: #2a6a7f;
    --yellow-star: #fdc342;
    --blue-star: #489cab;
    --red-star: #ff7963;
}

* {
    margin: 0;
    padding: 0;
}

.canva {
    background: var(--background-color);
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle {
    position: relative;
    width:110vmin;
    height:90vmin;
    background: var(--circle-color);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*
Partes de BB-8
*/
.bb-8 {
    width:50vmin;
    height: 50vmin;
    position: relative;
}

.bb8-body {
    width: 30vmin;
    height: 30vmin;
    background: var(--background-color);
    border-radius: 100%;
    border: solid 8px var(--lines-color);
    position: absolute;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  
    overflow: hidden; /* Se deja de mostrar lo que se salga del container*/
}

/* Efecto de sombreado */
.shadow {
    width: 30vmin;
    height: 30vmin;
    border-radius: 50%;
    position: absolute;
    /* Para la proxima:
     - offsetX (como se mueve en x la sombra)
     - offsetY (como se mueve en y la sombra)
     - blurRadius (que tan fuerte quiero la sombra)
     - color, y se le puede pasar el alpha de una si le mando el rgba
    */
    box-shadow: 15vmin 0vmin 10vmin var(--shade-color);
    opacity: 0.5;
    left: 35%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
}


.circleBody {
    width: 16vmin;
    height: 16vmin;
    background: var(--circles-body);
    border-radius: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 8px var(--lines-color);
    overflow: hidden;
}

/*
Posiciones de los circulos amarillos del body
*/
.circleBody1 {
    top: 19vmin;
    left: 1vmin;
}

.circleBody2 {
    top: -14vmin;
    left: 18vmin;
}

.circleBody3 {
    bottom: 38vmin;
    right: 6vmin;
}

.circleBody1, .circleBody2, .circleBody3 {
    position: relative; 
    z-index: 2;
}

/* Circulos blancos */
.circleBody::after{
    content: ""; 
    width: 6vmin;
    height: 6vmin;
    border-radius: 100%;
    background: var(--background-color);
    border: solid 8px var(--lines-color);
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* lineas del body */
.line {
    width: 60%;
    height: 8px;
    background: var(--lines-color);
    position: absolute;
    z-index: 1;
}

.line1 {
    top: 50%;
    left: -10%;
    transform: translate(-50%, -50%);
    transform: rotate(60deg);
}

.line2 {
    top: 18%;
    left: 20%;
    transform: translate(-50%, -50%);
    transform: rotate(20deg)
}

.line3 {
    top: 55%;
    left: 35%;
    transform: translate(-50%, -50%);
    transform: rotate(-55deg)
}

/* Dots que estan en el body de bb8 */
.dots {
    width: 2.8vmin;
    height: 2.8vmin;
    border-radius: 100%;
    background: var(--lines-color);
    position: absolute;
}

.dots1 {
    top: 50%;
    left: 45%;
    transform: translate(-50%, -50%);
}

.dots2 {
    top: 80%;
    left: 75%;
    transform: translate(-50%, -50%);
}

/*
Cabeza de BB8
*/
.bb8-head {
    position: absolute; 
    
    width: 24vmin;
    height: 24vmin;
    
    top: calc(50% - 15vmin); 
    left: 50%;

    transform: translate(-80%, -40%) rotate(-30deg);

    z-index: 3;
}

/* Parte superior de la cabeza */
.bb8-UppHead {
    position: relative;
    width: 20vmin;
    height: 10vmin; 
    background-color: var(--background-color);
    border: 8px solid var(--lines-color);
    border-bottom: none; 
    border-top-left-radius: 10vmin; 
    border-top-right-radius: 10vmin;
    z-index: 2; 
}

.shadowHead {
    position: absolute;
    width: 22vmin;
    height: 10vmin;
    border-bottom: none; 
    border-top-left-radius: 10vmin; 
    border-top-right-radius: 10vmin;
    box-shadow: 10vmin 0vmin 10vmin var(--shade-color);
    opacity: 0.5;
    left: 35%;
    top: 50%;
    transform: translate(-50%, -50%);
}

/* Parte inferior de la cabeza */
.bb8-LowHead {
    position: absolute;

    width: 19vmin;
    height: 0vmin; 

    border-top: solid 0px transparent;
	border-right: solid 1vmin transparent;
	border-bottom: solid 3.5vmin var(--low-head);
	border-left: solid 1vmin transparent;

    left: 50%;
    top: 0%;

    transform: translate(-50%, 20%);

}

.bb8-LowHeadCrop {
    position: relative;

    width: 20vmin;
    height: 0vmin; 

    border-top: solid 0px transparent;
	border-right: solid 1vmin transparent;
	border-bottom: solid 2vmin var(--lines-color);
	border-left: solid 1vmin transparent;

    transform: rotate(180deg);

    z-index: 1;
}

.bb8-lens {
    position: absolute;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 6vmin;
    height: 6vmin;
    border-radius: 100%;
    border: 8px solid var(--lines-color);

    background: repeating-linear-gradient(
            135deg,
            var(--lens-even) 0%,  
            var(--lens-even) 10%, 
            var(--lens-odd) 10%,        
            var(--lens-odd) 20%          
        );
}

.dot-head {
    width: 1.8vmin;
    height: 1.8vmin;
    top: 67%;
    left: 76%;
}


/* 
Lineas de la Imagen 
*/
.dotted-line {
    position: absolute;
    transform: translate(-50%, -50%);
    
    height: 1vmin;
    width: 6vmin;
    background: var(--lines-color);
    border-radius: 9999px;
    z-index: 3;
}
  
.dotted-line::after {
    content: "";
    position: absolute;
    top: 0;        
    left: 7vmin;  
    width: 4vmin;
    height: 1vmin;
    background: var(--lines-color);
    border-radius: 9999px;
}
  
.dotted-line1 {
    top: 3%;
    left: 46%;
}
  
.dotted-line2 {
    top: 11%;
    left: 55%;
}
  
.dotted-line3 {
    top: 60%;
    left: 89%;
}

/* linea normal */
.normal-line {
    position: absolute;
    transform: translate(-50%, -50%);
    
    height: 1vmin;
    width: 5vmin;
    background: var(--lines-color);
    border-radius: 9999px;
    z-index: 3;
}

.normal-line1 {
    top: 15.3%;
    left: 53%;
}

.normal-line2 {
    top: 55%;
    left: 83%;
    z-index: 5;
}

/* lineas inferiores a bb8 */
#dotted-line4 {
    top: 80%;
}

#long-line {
    position: absolute;
    top: 80%;
    left: 63%;

    transform: translate(-50%, -50%);
    
    height: 1vmin;
    width: 45vmin;
    background: var(--lines-color);
    border-radius: 9999px;
    z-index: 3;
}

#dotted-line5 {
    top: 80%;
    left: 116%;
}

#normal-line3 {
    width: 12vmin;
    top: 90%;
    left: 30%;
}

#normal-line4 {
    width: 22vmin;
    top: 90%;
    left: 75%;
}

#normal-line5 {
    width: 12vmin;
    top: 100%;
    left: 50%;
}

/*
ESTRELLAS ATRAS DE BB8 
*/
.stars-container {
    position: absolute;
    left: 57%;
    top: 22%;
    width: 50vmin;
    height: 40vmin;
    margin: 0;
    padding: 0;
    z-index: 5;
}
  

.stars {
    list-style: none;
}
  
.star {
    position: absolute;
    width: 0;
    height: 0;
    color: var(--yellow-star); /* x default */
}

.star::before,
.star::after {
    content: "";
    position: absolute;
    background-color: currentColor; 
    border-radius: 9999px;      
}
  
/* Barra horizontal */
.star::before {
    width: 3vmin;   
    height: 1vmin;   
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
  
/* Barra vertical */
.star::after {
    width: 1vmin;    
    height: 3vmin;  
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
  
/* Asignnacion de colores */
.stars li:nth-child(3n + 1) {
    color: var(--yellow-star);
}
  
.stars li:nth-child(3n + 2) {
    color: var(--blue-star);
}
  
.stars li:nth-child(3n + 3) {
    color: var(--red-star);
}