:root {
    --primary-color: #3498db;
    --secondary-color: #2ecc71;
    --background-color: #f3f8fb;
    --lines-color: #244457;
    --circle-color: #5cb1a3;
    --circles-body: #f5bd3e;
}

* {
    margin: 0;
    padding: 0;
}

.canva {
    background: var(--background-color);
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle {
    width:80vmin;
    height:80vmin;
    background: var(--circle-color);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/*
Partes de BB-8
*/
.bb-8 {
    width:50vmin;
    height: 50vmin;
    background: red;
}

.bb8-body {
    width: 30vmin;
    height: 30vmin;
    background: var(--background-color);
    border-radius: 100%;
    border: solid 8px var(--lines-color);
    position: relative;
    overflow: hidden; /* Se deja de mostrar lo que se salga del container*/
}

.circleBody {
    width: 16vmin;
    height: 16vmin;
    background: var(--circles-body);
    border-radius: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 8px var(--lines-color);
    overflow: hidden;
}

/*
Posiciones de los circulos amarillos del body
*/
.circleBody1 {
    top: 19vmin;
    left: 1vmin;
}

.circleBody2 {
    top: -14vmin;
    left: 18vmin;
}

.circleBody3 {
    bottom: 38vmin;
    right: 6vmin;
}

.circleBody1, .circleBody2, .circleBody3 {
    position: relative; 
    z-index: 2;
}

/* Circulos blancos */
.circleBody::after{
    content: ""; 
    width: 6vmin;
    height: 6vmin;
    border-radius: 100%;
    background: var(--background-color);
    border: solid 8px var(--lines-color);
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* lineas del body */
.line {
    width: 60%;
    height: 8px;
    background: var(--lines-color);
    position: absolute;
    z-index: 1;
}

.line1 {
    top: 50%;
    left: -10%;
    transform: translate(-50%, -50%);
    transform: rotate(60deg);
}

.line2 {
    top: 18%;
    left: 20%;
    transform: translate(-50%, -50%);
    transform: rotate(20deg)
}

.line3 {
    top: 55%;
    left: 45%;
    transform: translate(-50%, -50%);
    transform: rotate(-40deg)
}


